<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="${title}"></title>
    
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/images/favicon.ico">
    
    <th:block th:replace="component/css::cssFragment"></th:block>

</head>
<body th:class="${bodyClass}">
    <!-- page -->
    <th:block th:replace="component/page::pageFragment"></th:block>
    
    <!-- session -->
    <th:block th:replace="component/session::sessionFragment"></th:block>
    
    <!-- script -->
    <th:block th:replace="component/js::jsFragment"></th:block>
</body>
 
</html>